@import 
    './scss-mixins/variables',
    './scss-mixins/loginFormSubmitButton',
    './scss-fonts/ico-moon/paper-plane/paper-plane',
    './scss-fonts/ico-moon/file-o/file-o'
;

div.main-container{
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    main{
        margin-bottom: 60px;
    }
    button.loginToggleButton{
        @include loginToggleButton;
    }
    form#login-form{
        width: 100%;
        margin-top: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            box-sizing: border-box;
            padding: 5px 10px;
            width: 200px;
            height: 40px;
            display: block;
            margin: 10px 0;
            border: none;
            outline: none;
            transition: .5s;
        }
    }
    section.project-summary{
        width: 80%;
        margin: 60px auto;
        border: solid 2px darken(azure, 70%);
        border-radius: 20px;
        background-color: darken(azure, 5%);
        padding: 10px;
        p{
            color: darken($bulma-black-ter, 100%);
            font-weight: 600;
            margin-bottom: 30px;
        }
        @media(min-width: 768px){
            width: 60%;
        }

        @media(min-width: 976px){
            width: 50%;
        }
    }
    ul#login-error-messages-container{
        width: 200px;
        margin: 10px auto;
        padding: 10px;
        list-style-type: none;
        list-style-position: outside;
        li{
            color: lighten(gray, 40%);
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: 600;
            font-family: monospace;
        }
    }
    div.mailboxes-container{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 5px;
        margin-bottom: 150px;
        flex-direction: column;
        gap: 10%;
        @media (min-width: 1220px){
            flex-direction: row;
        }
        table.email-card{
            position: absolute;
            top: 70px;
            transition: .5s;
            width: 90vw;
            left: 4vw;
            background: darken($bulma-black-ter, 15%);
            color: lighten($bulma-black-ter, 50%);
            border: solid darken(azure, 75%);
            border-radius: 10px;
            padding-top: 16px;
            span.close-email-card{
                position: absolute;
                color: darken(red, 20%);
                right: 20px;
                top: 2px;
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    transform: scale(1.25);
                    color: darken(red, 10%);
                }
            }
            thead{
                display: none;
            }
            tbody{
                margin: 0;
                padding: 0;
                tr{
                    &:not(:last-child){
                        height: 50px;
                    }
                    td{
                        padding: 10px;
                        &.lowercase{
                            text-transform: lowercase;
                            font-weight: 700;
                            color: lighten($bulma-black-ter, 10%);
                        }
                        &.subject{
                            text-transform: lowercase;
                            font-weight: 700;
                            color: lighten($bulma-black-ter, 30%);
                        }
                    }
                    td:first-child{
                        width: 80px;
                        padding-left: 20px;
                        color: darken(azure, 70%);
                        text-transform: capitalize;
                        font-weight: 600;
                        display: flex;
                        align-items: flex-start;
                        padding-top: 10px;
                    }
                    td.email-body{
                        font-size: 12px;
                        vertical-align: top;
                        color: lighten($bulma-black-ter, 10%);
                        font-weight: 700;
                    }
                }
            }
            @media (min-width: 1220px){
                width: 70vw;
                left: 15vw;
            }
        }
        div.mailboxes{
            width: 80%;
            margin: 50px auto 20px;
            transition: .5s;
            ul{
                margin-top: 30px;
                display: flex;
                width: 100%;
                list-style-type: none;
                list-style-position: outside;
                padding-left: 0;
                li{
                    box-sizing: border-box;
                    flex-grow: 1;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: azure;
                    font-weight: 500;
                    transition: .5s;
                    cursor: pointer;
                    &:hover{
                        color: $active_mailbox-link;
                    };
                    &#compose{
                        background-color: darken(azure, 80%) !important;
                        color: azure !important;
                        span.pencil{
                            color: darken(azure, 50%);
                        }
                        &:hover{
                            background-color: darken(azure, 70%) !important;
                            span.pencil{
                                color: darken(azure, 100%);
                                font-weight: 600;
                            }
                        }
                        
                    }
                    &#bin{
                        font-weight: 600;
                        font-size: 16px;
                        &::after{
                            content: '\01F5D1';
                            color: lighten($bulma-black-ter, 55%);
                        }
                    }
                }
            }
            @media (min-width: 1220px){
                width: 10%;
                margin: 0;
                ul{
                    margin-top: 70px;
                    flex-direction: column;
                    li{
                        font-weight: 600;
                        height: 100px;
                    }
                }
            }
        }
        div.emails-container{
            width: 80%;
            margin: 0 auto;
            form#emails-compose{
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .form-control{
                    width: 80%;
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    border: none;
                    color: black;
                    font-weight: 600;
                    background-color: darken(white, 5%);
                    &:first-child{
                        margin-top: 30px;
                    }
                    &.text-area{
                        font-weight: normal;
                    }
                    &:focus{
                        background-color: white;
                    }
                }
                input{
                    height: 30px;
                }
                textarea{
                    flex-grow: 1;
                    resize: vertical;
                    min-height: 150px;
                }
                div.submit-button-container{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    button{
                        width: 100%;
                        height: 50px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        // color: darken(azure, 10%);
                        color: lighten($bulma-black-ter, 60%);
                        transition: .5s;
                        border-radius: 20px;
                        background-color: lighten($bulma-black-ter, 5%);
                        border: solid lighten($bulma-black-ter, 15%);
                        font-size: 12px;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.1);
                            background-color: lighten($bulma-black-ter, 10%);
                            // color: azure;
                        }
                        &.send-email{
                            background-color: darken(azure, 80%);
                            border: solid darken(azure, 70%);
                            &:hover{
                                background-color: darken(azure, 75%);
                            }
                        }
                        span.icon-paper-plane-o, span.icon-file-o{
                            // color: lighten($bulma-black-ter, 60%);
                            font-weight: 900;
                        }
                    }
                    @media (min-width: 768px){
                        width: 70%;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 30px;
                        button{
                            width: 40%;
                        }
                    }
                }
            }
            ul.emails{
                display: none;
                list-style-type: none;
                list-style-position: outside;
                padding-left: 0;
                li{
                    color: azure;
                    font-weight: normal;
                    border-bottom: solid darken($aquamarine, 45%) 1px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    gap: 40px;
                    transition: .5s;
                    &:hover{
                        color: darkgray;
                    }
                    span.delete-icon, span.binned-delete-icon{
                        font-size: 16px;
                        cursor: pointer;
                        &::after{
                            content: '\01F5D1';
                            color: $bulma-danger;
                        }
                    }
                    
                }
                &#emails-inbox, &#emails-bin{
                    li.inbox-email{
                        table{
                            tr{
                                td{
                                    padding-left: 10px;
                                    &.lowercase{
                                        text-transform: lowercase;
                                        font-weight: 600;
                                    }
                                    &.subject{
                                        text-transform: lowercase;
                                        color: darken($bulma-black-ter, 15%);
                                    }
                                    &:not(.subject){
                                        color: azure;
                                    }
                                }
                                td:first-child{
                                    padding: 10px 30px 0 5px;
                                    background-color: darken(azure, 80%);
                                    color: darken(azure, 50%);
                                    text-transform: capitalize;
                                    font-weight: 600;
                                }
                                td.email-body{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    //deleted draft emails
                    span.draft{
                        background-color: black;
                        padding: 0 5px;
                        border: solid $aquamarine 0; 
                        border-radius: 20%;
                    }
                }
                &#email-sent{
                    li span em{
                        color: darken($bulma-black-ter, 15%);
                    }
                }
            }
            @media (min-width: 1220px){
                width: 60%;
                margin: 55px 0 0 0;
            }
        }
        button.logoutButton{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 60px;
            border-bottom: solid darken(azure, 75%);
            background-color: darken(azure, 80%);
            transition: .5s;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 17.5px;
            &:hover{
                background-color: darken(azure, 75%);
            }
            @media (min-width: 1220px){
                transform: rotate(90deg);
                height: 80px;
                width: 100vh;
                top: calc(50vh - 40px);
                left: calc( 100vw - 50vh - 30px)
            }
        }
    }
    footer{
        a{
            text-decoration: none;
            color: darken(azure, 20%);
            font-weight: 500;
            font-size: 12px;
            display: block;
            text-align: center;
            span{
                color: azure;
                font-weight: 600;
                font-size: 14px;
            }
            &:hover{
                color: azure;
            }
        }
    }
    @media (min-width: 1220px){
        font-size: 16px;
    }
}