@import 
    './scss-mixins/variables',
    './scss-mixins/loginFormSubmitButton',
    './scss-fonts/ico-moon/paper-plane/paper-plane',
    './scss-fonts/ico-moon/file-o/file-o'
;

div.main-container{
    font-size: 12px;
    letter-spacing: 1px;
    button.loginToggleButton{
        @include loginToggleButton;
    }
    form#login-form{
        width: 100%;
        margin-top: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            box-sizing: border-box;
            padding: 5px 10px;
            width: 200px;
            height: 40px;
            display: block;
            margin: 10px 0;
            border: none;
            outline: none;
            transition: .5s;
        }
    }
    ul#login-error-messages-container{
        width: 130px;
        margin: 10px auto;
        padding: 10px;
        list-style-type: none;
        list-style-position: outside;
        li{
            color: darken(azure, 50%);
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: 600;
            font-family: monospace;
        }
    }
    div.mailboxes-container{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 5px;
        margin-bottom: 150px;
        flex-direction: column;
        gap: 10%;
        @media (min-width: 1220px){
            flex-direction: row;
        }
        div.mailboxes{
            width: 80%;
            margin: 50px auto 20px;
            transition: .5s;
            ul{
                margin-top: 30px;
                display: flex;
                width: 100%;
                list-style-type: none;
                list-style-position: outside;
                padding-left: 0;
                li{
                    box-sizing: border-box;
                    flex-grow: 1;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: azure;
                    transition: .5s;
                    cursor: pointer;
                    &:hover{
                        color: $active_mailbox-link;
                    };
                    &#compose{
                        &:hover{
                            background-color: azure !important;
                        }
                        span.pencil{
                            color: $bulma-black-ter;
                        }
                    }
                    &#bin{
                        font-weight: 600;
                        &::after{
                            content: '\01F5D1';
                            color: lighten($bulma-black-ter, 55%);
                        }
                    }
                }
            }
            @media (min-width: 1220px){
                width: 10%;
                margin: 0;
                ul{
                    margin-top: 100px;
                    flex-direction: column;
                    li{
                        font-weight: 600;
                        height: 100px;
                    }
                }
            }
        }
        div.emails-container{
            width: 80%;
            margin: 0 auto;
            form#emails-compose{
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .form-control{
                    width: 80%;
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    font-weight: 600;
                    border-radius: 10px;
                    &:first-child{
                        margin-top: 30px;
                    }
                    &.text-area{
                        font-weight: normal;
                    }
                    &:focus{
                        background-color: lighten($bulma-black-ter, 80%);
                    }
                }
                input{
                    height: 30px;
                }
                textarea{
                    flex-grow: 1;
                    resize: vertical;
                    min-height: 150px;
                }
                div.submit-button-contaier{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    button{
                        width: 100%;
                        height: 50px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: darken(azure, 10%);
                        transition: .5s;
                        border-radius: 20px;
                        cursor: pointer;
                        &.send-email{
                            &:hover{
                                background-color: darken(#04AA6D, 10%);
                            }
                        }
                        &:hover{
                            transform: scale(1.1);
                            color: white;
                            background-color: lighten($bulma-black-ter, 5%);
                        }
                        span.icon-paper-plane-o, span.icon-file-o{
                            color: darken(azure, 90%);
                            font-weight: 900;
                        }
                    }
                    @media (min-width: 768px){
                        width: 70%;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 30px;
                        button{
                            width: 40%;
                        }
                    }
                }
            }
            ul.emails{
                display: none;
                list-style-type: none;
                list-style-position: outside;
                padding-left: 0;
                li{
                    color: azure;
                    font-weight: normal;
                    border-bottom: solid darken($aquamarine, 45%) 1px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    gap: 40px;
                    transition: .5s;
                    &:hover{
                        color: darkgray;
                    }
                    span.delete-icon, span.binned-delete-icon{
                        cursor: pointer;
                        &::after{
                            content: '\01F5D1';
                            color: $bulma-danger;
                        }
                    }
                    
                }
                &#emails-inbox, &#emails-bin{
                    li.inbox-email{
                        table{
                            tr{
                                td{
                                    padding-left: 10px;
                                    &.lowercase{
                                        text-transform: lowercase;
                                        font-weight: 600;
                                    }
                                    &.subject{
                                        text-transform: lowercase;
                                        color: darkgrey;
                                    }
                                    &:not(.subject){
                                        color: azure;
                                    }
                                }
                                td:first-child{
                                    padding: 10px 30px 0 5px;
                                    background-color: darken(azure, 80%);
                                    color: darken(azure, 50%);
                                    text-transform: capitalize;
                                    font-weight: 600;
                                }
                                td.email-body{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    //deleted draft emails
                    span.draft{
                        background-color: black;
                        padding: 0 5px;
                        border: solid $aquamarine 0; 
                        border-radius: 20%;
                    }
                }
            }
            @media (min-width: 1220px){
                width: 60%;
                margin: 100px 0 0 0;
            }
        }
        button.logoutButton{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 60px;
            border-bottom: solid darken(azure, 75%);
            background-color: darken(azure, 80%);
            transition: .5s;
            &:hover{
                background-color: darken(azure, 75%);
            }
            @media (min-width: 1220px){
                transform: rotate(90deg);
                width: 100vh;
                top: calc(50vh - 30px);
                left: calc( 100vw - 50vh - 45px)
            }
        }
    }
    @media (min-width: 1220px){
        font-size: 16px;
    }
}